<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Display flash messages -->
<%- messages() %>

<!-- Display errors (if any) -->
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<!-- Display content -->
<div id="account-management">
    <% if (locals.accountData.account_type == "Client") { %>

        <h2>Welcome <%= locals.accountData.account_firstname %></h2>
        <p>You're logged in</p>
        <p><a href="/account/update-info/<%= locals.accountData.account_id %>">Update Account Information</a></p>
    
    <% } else if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") { %>
    
        <h2>Welcome <%= locals.accountData.account_firstname %></h2>
        <p>You're logged in</p>
        <p><a href="/account/update-info/<%= locals.accountData.account_id %>">Update Account Information</a></p>
        <h3>Inventory Management</h3>
        <p><a href="/inv">Manage Inventory</a></p>
    
    <% } %>    
</div>

