<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Display flash messages -->
<%- messages() %>

<!-- Display errors (if any) -->
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<!-- Display content -->
<div id="form-wrapper">
    <form id="add-inventory-form" action="/inv/add-inventory" method="post">
        <p>ALL FIELDS ARE REQUIRED</p>
        <label for="classification_id">Classification:</label><br>
        <%- classificationList %><br>
        <label for="inv_make">Make:</label><br>
        <input type="text" name="inv_make" id="inv_make" required minlength="3" placeholder="Min of 3 characters" value="<%= locals.inv_make %>"><br>
        <label for="inv_model">Model:</label><br>
        <input type="text" name="inv_model" id="inv_model" required minlength="3" placeholder="Min of 3 characters" value="<%= locals.inv_model %>"><br>
        <label for="inv_description">Description:</label><br>
        <textarea name="inv_description" id="inv_description" required rows="4"><%= locals.inv_description %></textarea><br>
        <label for="inv_image">Image Path:</label><br>
        <input type="text" name="inv_image" id="inv_image" required placeholder="/images/vehicles/no-image.png" value="<%= locals.inv_image %>"><br>
        <label for="inv_thumbnail">Thumbnail Path:</label><br>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required placeholder="/images/vehicles/no-image-tn.png" value="<%= locals.inv_thumbnail %>"><br>
        <label for="inv_price">Price:</label><br>
        <input type="number" name="inv_price" id="inv_price" required placeholder="decimal or integer" step="0.01" value="<%= locals.inv_price %>"><br>
        <label for="inv_year">Year:</label><br>
        <input type="text" name="inv_year" id="inv_year" required minlength="4" maxlength="4" placeholder="4-digit year" pattern="^[0-9]+$" value="<%= locals.inv_year %>"><br>
        <label for="inv_miles">Miles:</label><br>
        <input type="number" name="inv_miles" id="inv_miles" required placeholder="digits only" value="<%= locals.inv_miles %>"><br>
        <label for="inv_color">Color:</label><br>
        <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>"><br>

        <button id="submit-btn" type="submit">Add Vehicle</button>
    </form>
</div>