<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Display flash messages -->
<%- messages() %>

<!-- Display errors (if any) -->
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<!-- Display content -->
<div id="inbox-wrapper">
    <ul>
        <li><a href="/message/create">Create New Message</a></li>
        <li><a href="/message/archives">View <%= locals.archived_messages %> Archived Messages</a></li>
    </ul>
    
    <%- inboxTable %>

</div>